{% extends 'base.html.twig' %}

{% block title %}New Review{% endblock %}

{% block body %}
    <h2>Create new Review</h2>

    {{ include('review/_form.html.twig') }}

    <a href="{{ path('review_index') }}">back to list</a>
{% endblock %}
