{% extends 'base.html.twig' %}
{% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <h2>Book Reviews</h2>
        <a class="nav-link" href="{{ path('review_index') }}">Reviews</a>
        <a class="nav-link" href="{{ path('book_index')}}">Books</a>

    </nav>
{% endblock %}