{% extends 'base.html.twig' %}
{% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
<a class="nav-link" href="review/index.html.twig">Reviews</a>
 <a class="nav-link" href="book/index.html.twig">Books</a>

    </nav>
{% endblock %}